<%inherit file="/account/templates/base.htm" />

<%block name="content">

<form method="POST">
    <table>
        ${ form }
    </table>

    %if request.urlparams[1] == 'new':
    <button data-site_user_id="${ request.urlparams[0] }" class="submit_btn btn btn-primary" type="submit">Create
    </button>
    <a class="btn btn-primary" href="/account/account.delete/${ request.urlparams[0] }/">Cancel</a>
    %else:
    <button data-site_user_id="${ request.urlparams[0] }" class="submit_btn btn btn-primary" type="submit">Save</button>
    <a class="btn btn-primary" href="/account/account/">Cancel</a>
    %endif
</form>

</%block>