<%inherit file="/homepage/templates/base_ajax.htm" />

<%block name="content">
<p style="font-weight: bold;">Hello ${ user.get_full_name() },</p>
<p>Thank you for renting from us! We'll send a notification email the day before your items are due.</p>
<p>Your items are due on <b>${ date_due.strftime('%b %d, %Y') }</b></p>
<table class="table table-striped">
    <tr>
        <th>Rental Product</th>
        <th>Price Per Day</th>
        <th>Days Rented Out</th>
        <th>Amount</th>
    </tr>
    %for rental_item in rental_cart:
    <tr>
        <td>${ rental_item.rental_product.product_specification.name }</td>
        <td>$${ rental_item.rental_product.price_per_day }</td>
        <td>${ request.session['rental_days'] }</td>
        <td>$${ rental_item.amount }</td>
    </tr>
    %endfor
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr style="font-weight: bold;">
        <td>${ transaction.get_rental_item_count() } item(s)</td>
        <td></td>
        <td>Subtotal</td>
        <td>$${ transaction.pre_discount_total }</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>Discount</td>
        <td>${ request.session['discount'] }%</td>
    </tr>
    <tr style="font-weight: bold;">
        <td></td>
        <td></td>
        <td>Total</td>
        <td>$${ transaction.total }</td>
    </tr>
    <tr style="font-weight: bold;">
        <td></td>
        <td></td>
        <td>Payment</td>
        %if request.session['discount'] != 100:
        <td>$${ rental_charge_resp['Amount'] } ${ rental_charge_resp['Currency'] }</td>
        %else:
        <td>$0.00 usd</td>
        %endif
    </tr>
</table>
</%block>