<%inherit file="/homepage/templates/base.htm" />

<%block name="content">

<div class="text-left">
    <h1 class="page-header">Overdue Rental Items</h1>
</div>

<table id="event_table" class="table table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Due Date</th>
    </tr>
    %for item in report:
    <tr>
        <td>${ item.rental_product.id }</td>
        <td>${ item.rental_product.product_specification.name }</td>
        <td>${ item.date_due.strftime('%b %d, %Y') }</td>
    </tr>
    %endfor
</table>

</%block>